div#menu div.home{
	background: #a3a3a3;
    color: black;
	text-align: center;
    border-radius: 0 0 0.5rem 00.5rem;
	width: 5rem;
	height: 2rem;
	padding: 0.5em 0 0 0;
	cursor: pointer;
}

div#menu div.twitter{
	background: #1DA1F2;
    color: white;
	text-align: center;
    border-radius: 0 0 0.5rem 00.5rem;
	min-width: 5rem;
	height: 2rem;
	padding: 0.5em 0.5em 0 0.5em;
	cursor: pointer;
}

.original{
	display: none;
	text-align: center;
}

.original.show{
	display: unset;
}

.original.show a {
	color: rgb(255,255,255);
	text-decoration: none;
}

.original.show > div:not([class]) {
	cursor: pointer;
}

.original.show .commands > * {
	margin: 0 0.25em;
	background-color: #a3a3a3;
    color: black;
    padding: 0 0.5em 0.25em 0.5em;
    border-radius: 0 0 0.25em 0.25em;
	text-align: center;
}

.original.show .commands > div{
	display: inline-block;
	cursor: pointer;
}

.original.show .name > *{
	margin: 0 0.25em;
	background-color: #a3a3a3;
    color: black;
    padding: 0.25em 0.5em 0 0.5em;
    border-radius: 0.25em 0.25em 0 0;
	text-align: center;
}

.original.show .name > div{
	display: inline-block;
	cursor: pointer;
}

.original.show .name > label{
	max-width: 30%;
    display: inline-block;
    white-space: nowrap;
}

.original > .player {
	border-radius: 5px;
    padding: 1em 2em;
    border-color: #a3a3a3;
    border-style: solid;
}

.original > .reader {
	border-radius: 5px;
    padding: 1em 2em;
    border-color: #a3a3a3;
    border-style: solid;
	text-align: justify;
}

.original > .reader > hr {
	border-width: 0.5em;
    border-style: solid;
    border-color: #a3a3a3;
    margin-top: 2em;
}

.original.show img, .original.show video {
	max-width: 100%;
}

.original.show audio {
	margin: 20em auto;
}


.original.show .name > label{
	max-width: 50%;
	display: inline-block;
	white-space: nowrap;
}