div#title{
	background-color: #a3a3a3;
    color: black;
    padding: 0.25em 0.5em 0.25em 1em;
    border-radius: 0.5em;
    text-align: center;
    font-size: xx-large;
}

div#explorer{
	width: 90%;
    margin: auto;
    border-color: #a3a3a3;
    border-style: ridge;
    padding: 0.25em 0.5em 0.25em 1em;
	max-height: 85vh;
    overflow-y: scroll;
}

div#explorer{
	text-align: center;
}

div#explorer > div{
    padding: 0.25em;
    display: inline-block;
	width: 125px;
	cursor: pointer;
}

@keyframes flash {
  0%   { opacity:1; }
  40%   {opacity:0; }
  100% { opacity:1; }
}

div#explorer > div.searched{
	animation-duration: .8s;
	animation-name: flash;
	animation-iteration-count: 10;
	transition: none;
}

div#explorer > div > div{
	max-height: 125px;
	overflow: hidden;
}

div#explorer > div > div.preview{
	max-height: unset;
}

div#explorer > div > div.name{
	height: 26px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
}

div#explorer > div > div.sfw{
	color: lightgreen;
}

div#explorer > div > div.nsfw{
	color: indianred;
}

div#explorer > div > div > img{
	background: #a3a3a3;
	width: 125px
}

div#explorer > div > div > audio{
	width: 125px
}

div#menu{
	text-align: center;
}

div#menu > *{
	display: inline-block;
	text-decoration: unset;
}


#menu .search-bar{
	width: 91%;
    padding: 0.5em;
    background: #c3c3c3;
    border-radius: 0.5em;
	text-align: left;
}

#menu .search-bar > * {
	font-size: larger;
}

#menu .search-bar > input{
	width: 80%;
    border: none;
    background: #c3c3c3;
}

#menu .search-bar > input:focus{
	outline: none
}

#menu .search-bar > label{
	width: 20%;
    border: none;
    background: #c3c3c3;
    display: inline-block;
    text-align: end;
    color: black;
}

#menu .search-bar > div.autocomplete{
    background: #c3c3c3;
	color: #4e4e4e;
    font-style: italic;
    width: 90%;
	border-top: 1px solid grey;
	overflow-y: auto;
	height: 2.9em;
}

#menu .search-bar > div.autocomplete > div{
	padding: 0.25em;
	cursor: pointer;
}

@media screen and (min-width: 960px){
	div#explorer > div{
		width: 250px
	}
	
	div#explorer > div > div{
	max-height: 250px;
}
	
	div#explorer > div > div > img{
		width: 250px
	}
	
	div#explorer > div > div > audio{
		width: 250px
	}
	
	#menu .search-bar > input{
		width: 90%;
	}
	
	#menu .search-bar > label{
		width: 10%;
	}
}