.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .9);
  transition: opacity .25s ease;
}

.modal-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal-inner {
  top: 0;
}

.modal-inner {
    transition: top .25s ease;
    position: absolute;
    top: -20%;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 1280px;
    margin: auto;
    overflow: auto;
    background: #000000;
    border-radius: 5px;
    padding: 1em 2em;
    border-color: #a3a3a3;
    border-style: solid;
}

.modal-content{
	margin: 0.25em;
}

.modal-content div.label{
	background-color: #ffffff;
    padding: 0.25em;
    border-radius: 0.25em;
	margin: 0.25em;
}

.modal-content div.label input{
	width: 100%;
    border: 0;
}

.modal-content div.label input: focus{
	outline-offset: 0px;
}

.modal-close {
  cursor: pointer;
}

.modal-close:not(.button) {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
}

.modal-close:not(.button):after,
.modal-close:not(.button):before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal-close:not(.button):hover:after,
.modal-close:not(.button):hover:before {
  background: #aaa;
}

.modal-close:not(.button):before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
	
  .modal-inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}