:root {
  --ce-primary-background-color: #0e0e0e;
  --ce-primary-font-color: #e0e0e0;

  --ce-secondary-background-color: #2d2d2d;
  --ce-secondary-font-color: #d2d2d2;

  --ce-third-background-color: #4c4c4c;
  --ce-third-font-color: #c4c4c4;
}

html,
body {
  background-color: var(--ce-primary-background-color);
  color: var(--ce-primary-font-color);
  padding: 0;
  margin: 0;
  overflow: hidden;
  min-width: 250px;
}

#backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
  display: none;
}

#backdrop.show {
  display: block;
}

/**
 * Header
 */

header {
  background-color: var(--ce-secondary-background-color);
  height: 3rem;
  border-radius: 0 0 0.5rem 0.5rem;
  z-index: 10;
}

h1 {
  margin: 0;
  padding: 0.5rem 0.5rem;
}

/**
 * Nav
 */
nav {
  margin: 0 0.5rem 0.5rem 0.5rem;
  position: relative;
  z-index: 10;
}

nav > span {
  margin-top: 0.55rem;
  display: inline-block;
}

nav > span:hover {
  background-color: #1f1f1f;
}

nav > span input[type="radio"]:checked + label {
  border-color: var(--ce-primary-font-color);
}

nav > span label {
  padding: 0.5rem;
  margin: 0;
  cursor: pointer;
  background-color: var(--ce-secondary-background-color);
  border: 1px solid var(--ce-primary-background-color);
  border-radius: 0 0 0.5rem 0.5rem;
}

nav > span input {
  display: none;
}

nav > div {
  display: inline-flex;
  position: absolute;
  right: 1rem;
  padding: 0.5rem;
  background-color: var(--ce-secondary-background-color);
  border: 1px solid var(--ce-primary-background-color);
  border-radius: 0 0 0.5rem 0.5rem;
}

nav > div:last-child ul {
  position: absolute;
  right: 0;
  top: 37px;
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

nav > div:last-child ul li {
  background-color: var(--ce-secondary-background-color);
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

nav > div:last-child ul li:hover {
  background-color: #1f1f1f;
}

/**
 * Main
 */

main {
  height: calc(100vh - 3.33rem);
  position: relative;
}

main > #gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: calc(100vh - 3.33rem);
  margin-top: -2rem;
  z-index: 1;
  position: relative;
  z-index: 5;
}

main > #gallery .push{
  display: block;
  margin-top: 2.5rem;
  width: 100%;
}

main > #gallery .card {
  text-align: center;
  border-radius: 1rem;
  min-width: 300px;
  max-width: 300px;
  max-height: 300px;
  margin: 0.5rem auto;
  overflow: hidden;
}

main > #gallery .card .img-div {
  background-color: var(--ce-third-background-color);
  position: relative;
  overflow: hidden;
  height: 100%;
  align-content: space-evenly;
}

main > #gallery .card .img-div img {
  width: 100%;
}

main > #gallery .card::before {
  content: attr(id);
  display: block;
  padding: 0 0.5rem;
  background: var(--ce-secondary-background-color);
  border-radius: 1rem 1rem 0 0;
}

main > #gallery .card.searched {
  animation-duration: 0.8s;
  animation-name: flash;
  animation-iteration-count: 10;
  transition: none;
}

main > #gallery .card span {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

@media (max-width: 722px) {
  main > #gallery .card {
    text-align: center;
    border: 1px solid var(--ce-secondary-background-color);
    border-radius: 1rem;
    margin: 0.5rem 0;
    min-width: 200px;
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
  }
}

/**
 * Loading
 */

.centered {
  text-align: center;
}

.spinner {
  display: none;
  padding: 50px;
  text-align: center;
  z-index: 5;
}

.spinner.loading {
  display: block;
}

.loading-text {
  width: 90px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 45px);
  text-align: center;
}

.spinner.loading:before {
  content: "";
  height: 90px;
  width: 90px;
  margin: -15px auto auto -15px;
  position: absolute;
  top: calc(50% - 45px);
  left: calc(50% - 45px);
  border-width: 8px;
  border-style: solid;
  border-color: #2180c0 #ccc #ccc;
  border-radius: 100%;
  animation: rotation 0.7s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
